name: CI-CD  
on: 
  push:
    branch: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - name: Geting the code
      uses: actions/checkout@v4.2.2
    - name: login on DockerHub
      uses: docker/login-action@v3.3.0
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: |
          viniciusfonseca/pipeline:v${{ github.run_number }} 
          viniciusfonseca/pipeline:latest
         
